extends base.pug

block content 
    
    form(method="post", enctype="multipart/form-data")
        div
            if errorMessage
                span=errorMessage
        label(for="avatar") Avatar
        img.avatar-img(src="/"+loggedInUser.user.avatarUrl, width=120, height=120)
        Input.file-input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="Name",name="name", type="text",value=loggedInUser.user.name, required)
        input(placeholder="Username",name="username", type="text", value=loggedInUser.user.username,required)
        input(placeholder="Email",name="email", type="email",value=loggedInUser.user.email, required)
        input(placeholder="Location",name="location", type="text", value=loggedInUser.user.location,required)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            hr
            a.profile-password-change(href="/user/change-password") Change Password &rarr;